{% extends 'sicop/frontend/base/base.html' %}

{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans 'Areas list' %}
{% endblock page_title %}
{% block content %}
  <section id="configuration">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{% trans 'Areas list' %}</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li>
                  <a href="{% url 'area_area_create' %}">
                    <button type="button" class="btn btn-icon btn-success mr-1 mb-1">
                      <i class="fa fa-plus"></i>
                    </button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body card-dashboard">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible mb-2"
                       role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
              <table class="table table-striped table-bordered default-ordering">
                <thead>
                  <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Detail' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for area in areas %}
                    <tr>
                      <td>{{ area.id }}</td>
                      <td>{{ area.name }}</td>
                      <td>{{ area.description }}</td>
                      <td>
                        {% if area.status %}
                          <div class="badge badge-success">{% trans 'Active' %}</div>
                        {% else %}
                          <div class="badge badge-warning">{% trans 'Inactive' %}</div>
                        {% endif %}
                      </td>
                      <td>
                        <a href="{% url 'area_area_detail' area.id %}">
                          <button type="button" class="btn btn-sm btn-icon btn-primary mr-1 mb-1">
                            <i class="fa fa-eye"></i>
                          </button>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Detail' %}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
