{% extends 'sicop/frontend/base/base.html' %}

{% load static %}
{% load i18n %}

{% block page_title %}
  {% trans 'Roles Detail' %}
{% endblock page_title %}
{% block content %}
  <section id="configuration">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{% trans 'Roles detail' %}</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li>
                  <a href="{% url 'area_role_list' %}">
                    <button type="button" class="btn btn-icon btn-success mr-1 mb-1">
                      <i class="fa fa-list"></i>
                    </button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body card-dashboard">
              <section id="basic-form-layouts">
                <div class="row match-height">
                  <div class="col-md-12">
                    <div class="card">
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-{{ message.tags }} alert-dismissible mb-2"
                               role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                            {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                      <div class="form-body">
                        <h4 class="form-section">
                          <i class="feather icon-users"></i> {% trans 'Roles Info' %}
                        </h4>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="projectinput1">{% trans 'Name' %}</label>
                              <input type="text"
                                     id="projectinput1"
                                     class="form-control"
                                     placeholder="{% trans 'Name' %}"
                                     disabled_role
                                     name="name"
                                     value="{{ area_role.name }}" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="projectinput1">{% trans 'Code' %}</label>
                              <input type="text"
                                     id="projectinput1"
                                     class="form-control"
                                     placeholder="{% trans 'Description' %}"
                                     disabled
                                     name="code"
                                     value="{{ area_role.code }}" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="projectinput3">{% trans 'Status' %}</label>
                              <select class="select2 form-control" disabled name="status">
                                <option value="True" {% if area_role.status %}selected{% endif %}>{% trans 'Active' %}</option>
                                <option value="False" {% if not area_role.status %}selected{% endif %}>{% trans 'Inactive' %}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <a href="{% url 'area_role_update' area_role.id %}">
                          <button type="submit" class="btn btn-primary">
                            <i class="fa fa-edit"></i> {% trans 'Edit' %}
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
