{% extends "sicop/users/base.html" %}

{% load static %}
{% load i18n %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Password reset confirm" %}
{% endblock head_title %}
{% block inner %}
  <div>
    <div class="card border-grey border-lighten-3 m-0 col-12">
      <div class="card-header border-0">
        <div class="card-title text-center">
          <div class="p-1">
            <img src="{% static 'stack/app-assets/images/logo/Logo-Maloka100x100.png' %}"
                 alt="branding logo" />
          </div>
        </div>
        <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
          <span>{% trans 'Password reset confirm in' %} {% get_app_name %}</span>
        </h6>
      </div>
      <div class="card-content">
        <div class="card-body">
          {% trans "We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div>
        <p class="float-sm-center text-center m-0">
          {% trans 'I am already a user of' %} {% get_app_name %} <a href="{% url 'user_login' %}" class="card-link">{% trans 'Login' %}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock inner %}
