{% load static i18n %}
{% load budget_tags %}
<style>
  .menu-title {
    font-size: 13px !important;
    height: 20px !important;
  }

  .main-menu.menu-dark .navigation .navigation-header {
    color: #dcdcdc !important;
    padding: 10px 10px 8px 10px !important;
  }

  .menu-item {
    font-size: 12px !important;
    height: 28px;
    padding: auto;
  }

  .menu-header-sicop {
    height: 35px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  .navigation .navigation-header {
    font-family: "Montserrat", Georgia, "Times New Roman", Times, serif !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    padding: 15px 15px !important;
    font-size: 0.8rem !important;
    text-transform: uppercase !important;
    /* border-top: 1px solid #dcdcdc !important; */
    background-color: #5f2c6b !important;
  }

  .main-menu.menu-dark .navigation>li.open ul li>a {
    padding-left: 50px;
    padding-top: 4px;
  }

  body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    content: "\f105" !important;
    font-family: 'FontAwesome' !important;
    font-size: 1rem !important;
    display: inline-block !important;
    position: absolute !important;
    right: 20px !important;
    top: 5px !important;
    transform: rotate(0deg) !important;
    transition: -webkit-transform 0.2s ease-in-out !important;
  }

</style>
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main navigation-sicop" id="main-menu-navigation" data-menu="menu-navigation">
      {% for group, menus in user_menus.items %}
      <li class="navigation-header">
        <span>{{group}}</span>
        <i class="feather icon-minus" data-toggle="tooltip" data-placement="right"
          data-original-title="{% trans 'Configuration' %}">
        </i>
      </li>
      {% for menu, options in menus.menus.items %}
      <li class="nav-item-sicop">
        <a href="#" class="menu-header-sicop">
          <i class="{{options.icon}}"></i>
          <span class="menu-title" data-i18n="Dashboard">{{menu}}</span>
        </a>
        <ul class="menu-content">
          {% for option, option_data in options.options.items   %}
          <li {% if option_data.url_complement in request.path %}class="active" {% endif %}>
            <a class="menu-item" href="{% url option_data.url_name %}">{{option}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
